
/*---- COLORS ----*/

$bright-font: #fff;
$dark-font: #000;
$font-color: #5a5a5a;
$highlight: #ed145b;
$footer-background: #2b2b2b;

/*---- MIXINS ----*/

@mixin size($height, $width) {
    height: $height;
    width: $width;
}

@mixin square-size($dimension) {
    height: $dimension;
    width: $dimension;
}

/*---- REUSABLE COMPONENTS ----*/

.underline {
    @include size(2px, 20%);
    background-color: $highlight;
    margin: 20px auto;
}

.line {
    max-width: 100vw;
    height: 0;
    border-left: 98vw solid $highlight;
    border-bottom: 30px solid #f4f4f4;
}
/* wywołuje scrolla! */
/*---- HEADINGS ----*/

h1 {
    text-transform: uppercase;
    font-size: 46px;
    color: $bright-font;  
}

h2 {
    font-style: italic;
    font-size: 38px;
    color: $font-color;
}

h3 {
    font-size: 22px;
}

h6 {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 15px;
    color: $highlight;
}

p {
    font-size: 15px;
    line-height: 24px;
    color: $font-color;
}
/*---- BUTTONS ----*/

.btn {
    @include size(50px, 200px);
    border: none;
    border-radius: 25px;
    background-color: $highlight;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 15px;
    color: $bright-font; 
    transition: 0.3s ease-in;
    cursor: pointer;
}

.btn:hover {transform: scale(1.1)}

/*---- GENERAL ----*/

* {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    margin: 0;
}

/*---- NAV ----*/

.container-jumbotron {
    width: 100%;
    height: 100%;
    background-image: url("img/jumbotron_1.png");
    background-size: cover;
    background-repeat: no-repeat;
    .nav {
        ul {
            height: 100px;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin: 0 10%;
            padding: 0;
            list-style-type: none;
            li {
                padding-right: 15px;
                a {text-decoration: none;
                    color: $bright-font;
                    &:hover {color: $highlight;}
                }
            }
            .logo {
                margin-right: auto;
                span {color: $highlight;}
                font-family: 'Roboto';
                font-weight: 700;
                font-size: 26px;
                color: $bright-font;
            }   
        } 
    }
    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        @include square-size(100%);
        h1 span {font-weight: 900;}
        h3 {
            color: $bright-font;
            &:last-of-type {margin-bottom: 65px;}
        }
    }
}

/*---- SHOWCASE ----*/

.container-showcase {
    height: 70vh;
    padding: 5% 0 5% 15%;
    display: flex;
    background-color: #f4f4f4;
    .column {
        overflow: hidden;
        position: relative;
        margin: 0;
        flex-grow: 6;
        flex-shrink: 6;
        flex-basis: 0;
        &:first-of-type {
            flex-grow: 3;
            flex-shrink: 3;
            flex-basis: 0;
        }
        .underline {
            margin-left: 0;
            width: 50%;
        }
        h6 {
            margin-top: 15px;
            line-height: 30px;
            display: flex;
            align-content: center;
            img {
                @include square-size(30px);
                margin-left: 10px;
            }
        }
        .laptop-wrapper img {
            position: absolute;
            max-height: 500px;
        }
    }
}






 


