@charset "UTF-8";
/*---- COLORS ----*/
/*---- MIXINS ----*/
/*---- REUSABLE COMPONENTS ----*/
.underline {
  height: 2px;
  width: 20%;
  background-color: #ed145b;
  margin: 20px auto; }

.line {
  max-width: 100vw;
  height: 0;
  border-left: 98vw solid #ed145b;
  border-bottom: 30px solid #f4f4f4; }

/* wywo┼éuje scrolla! */
/*---- HEADINGS ----*/
h1 {
  text-transform: uppercase;
  font-size: 46px;
  color: #fff; }

h2 {
  font-style: italic;
  font-size: 38px;
  color: #5a5a5a; }

h3 {
  font-size: 22px; }

h6 {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 15px;
  color: #ed145b; }

p {
  font-size: 15px;
  line-height: 24px;
  color: #5a5a5a; }

/*---- BUTTONS ----*/
.btn {
  height: 50px;
  width: 200px;
  border: none;
  border-radius: 25px;
  background-color: #ed145b;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 15px;
  color: #fff;
  transition: 0.3s ease-in;
  cursor: pointer; }

.btn:hover {
  transform: scale(1.1); }

/*---- GENERAL ----*/
* {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  margin: 0; }

/*---- NAV ----*/
.container-jumbotron {
  width: 100%;
  height: 100%;
  background-image: url("img/jumbotron_1.png");
  background-size: cover;
  background-repeat: no-repeat; }
  .container-jumbotron .nav ul {
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 10%;
    padding: 0;
    list-style-type: none; }
    .container-jumbotron .nav ul li {
      padding-right: 15px; }
      .container-jumbotron .nav ul li a {
        text-decoration: none;
        color: #fff; }
        .container-jumbotron .nav ul li a:hover {
          color: #ed145b; }
    .container-jumbotron .nav ul .logo {
      margin-right: auto;
      font-family: 'Roboto';
      font-weight: 700;
      font-size: 26px;
      color: #fff; }
      .container-jumbotron .nav ul .logo span {
        color: #ed145b; }
  .container-jumbotron .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%; }
    .container-jumbotron .content h1 span {
      font-weight: 900; }
    .container-jumbotron .content h3 {
      color: #fff; }
      .container-jumbotron .content h3:last-of-type {
        margin-bottom: 65px; }

/*---- SHOWCASE ----*/
.container-showcase {
  height: 70vh;
  padding: 5% 0 5% 15%;
  display: flex;
  background-color: #f4f4f4; }
  .container-showcase .column {
    overflow: hidden;
    position: relative;
    margin: 0;
    flex-grow: 6;
    flex-shrink: 6;
    flex-basis: 0; }
    .container-showcase .column:first-of-type {
      flex-grow: 3;
      flex-shrink: 3;
      flex-basis: 0; }
    .container-showcase .column .underline {
      margin-left: 0;
      width: 50%; }
    .container-showcase .column h6 {
      margin-top: 15px;
      line-height: 30px;
      display: flex;
      align-content: center; }
      .container-showcase .column h6 img {
        height: 30px;
        width: 30px;
        margin-left: 10px; }
    .container-showcase .column .laptop-wrapper img {
      position: absolute;
      max-height: 500px; }

/*# sourceMappingURL=style.css.map */
